.App {
  text-align: center;
}
body {
  background-image: url("/LOGO 1.png");
  color: black;
  background-color: white;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover; 
 }

.App-logo {
  height: 100vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.h1{
font-style: italic;
font-size: 50;
font-family: cursive;
margin-top: -50px;
margin-bottom: -50px;
}
.App-header {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.submit_btn {
  width: 50%;
  height: 50px;
  margin-left: 35%;
  padding: 10px 15px;
  background-color: whitesmoke;
  background-color: 250ms;
  color: black;
  font-weight: bold;
  border: 1px solid whitesmoke;
}

.submit_btn:hover {
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
}

.submit_btn.logout {
  width: 10%;
  margin-left: 45%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
