.App {
    font-family: sans-serif;
}
h1 {
    text-align: center;
}

.welcome {
    margin-top: 50px;
    font-weight: bolder;
    color: rgb(22, 22, 22);
}

form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

label,
input {
    display: block;
    width: 100%;
}

label {
    margin-bottom: 10px;
    height: 22px;
}

input {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
}

.input-feedback {
    width: 100%;
    text-align: center;
    height: 15px;
    margin-top: -15px;
    margin-bottom: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.submit_btn {
    width: 50%;
    height: 50px;
    margin-left: 35%;
    padding: 10px 15px;
    background-color: whitesmoke;
    background-color: 250ms;
    color: black;
    font-weight: bold;
    border: 1px solid whitesmoke;
}

.submit_btn:hover {
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
}

.submit_btn.logout {
    width: 10%;
    margin-left: 45%;
}
.h1{
    font-style: italic;
    font-size: 50;
    font-family: cursive;
    }
    body {
        font-family: Arial;
        color: white;
      }
      
      .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
      .left {
        left: 0;
        background-color: white;
      }
      
      .right {
        right: 0;
        background-color: gray;
      }
      
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      
      .centered img {
        width: 500px;
        border-radius: 5%;
      }